*{
  margin:0;
  box-sizing: border-box;
  padding: 0;
}

.Hotel-background{
  background: linear-gradient(35deg, rgba(1, 67, 122, 0.5), rgba(0,0,0,0.5),  rgba(157, 111, 4, 0.5)), url(./assets/pexels-pixabay-271624.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  
}
.Hotel-background h1{
  font-size: 60px;
  margin-top: -40px;
  font-style: italic;
}
.Hotel-background p{
  font-family: sans-serif;
  font-size: 20px;
  width: 40%;
  text-align: center;
  margin-top: 20px;
}
form{
  width: 400px;
  padding-top: 20px;
  height: 450px;
  background: transparent;
  border-radius: 20px;
  display: flex;
  border: 1px solid rgba(255, 255, 255, .5);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter:blur(15px) ;
}
form div{
  width: 80%;
}
.dataholder{
  overflow-y: scroll;
  
  scrollbar-width: none;
  
  /* for Firefox */
  -ms-overflow-style: none;
}
form input::placeholder{
  color: white;
}
form input{
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  margin-top: 40px;
  color: white;
  outline: none;
  padding: 4px;
  width: 100%;
}
.Hotel-background .linkholder{
width: 100%;
text-align: center;
margin-top: 40px;
}
.Hotel-background .linkholder a{
  background:#44311B;
  padding: 10px;
  text-decoration: none;
  font-family: sans-serif;
  color:white;
  border-radius: 4px;
  transition: .1s ease-in;
}
.Hotel-background .linkholder a:hover{
  background: blue;
}
form h1{ 
  font-size: 40px !important;
}
button{
  background:#44311B;
  padding: 10px;
  text-decoration: none;
  font-family: sans-serif;
  color:white;
  border-radius: 4px;
  transition: .1s ease-in;
  outline: none;
  margin-top: 15px;
  width: 80%;
  border: none;
  box-shadow: 0px 1px 1px 1px #362a1c;
}
button:hover{
  background:white;
  color:#44311B;
}
@media screen and (max-width:400px) {
  form{
    width: 340px;
  }
  form h1{
    font-size: 30px !important;
  }
}
@media screen and (max-width:941px) {
  h1{
    font-size: 45px !important;
  }
  p{
    width: 60% !important;
  }
}
@media screen and (max-width:648px){
  h1{
    font-size: 25px !important;
    text-align: center;
  }
  p{
    font-size: 18px !important;
    width: 90% !important;
  }
}
@media screen and (max-width:390px){
  h1{
    font-size: 20px !important;
  }
  p{
    font-size: 15px !important;
    width: 100% !important;
  }
}

